{% extends 'login.html' %}

{% block title %}
Sign Up | MyMarket
{% endblock %}

{% block content %}
  <div class="card">
    <div class="logo-text">MyMarket</div>

    <h2 class="text-center mb-4" style="color: white;">Sign Up</h2>

    <form method="POST" action="/login" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label" style="color: #f0f0f0;">{{form.username.label()}}</label>
        <input type="username" class="form-control" id="Username" name="Username" required placeholder="Enter Your Username">
      </div>

        <div class="mb-3">
        <label for="email" class="form-label" style="color: #f0f0f0;">{{form.email.label()}}</label>
        <input type="email" class="form-control" id="Email" name="Email" required placeholder="Enter Your Email">
      </div>

<!-- #kol el form.label mlhash ay lazma -->

      <div class="mb-4">
        <label for="password" class="form-label" style="color: #f0f0f0;" >{{form.password1.label()}}</label>
        <input type="password" class="form-control" id="Password" name="Password" required placeholder="Enter Your Password">
      </div>
      <div class="mb-3">
        <label for="password-confirmation" class="form-label" style="color: #f0f0f0;">{{form.password2.label()}}</label>
        <input type="password-confirmation" class="form-control" id="Confirm Password" name="Confirm Password" required placeholder="Confirm Your Password">
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-signin">Register</button>
      </div>
    </form>

    <p class="text-center mt-4 form-text">
      Already Have an Account?
      <a href="{{ url_for('login_page') }}" style="color: #fff; text-decoration: underline;">Log In</a>
    </p>
  </div>

{% endblock %}

